<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>驾校报名</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="__PUBLIC__/css/sm.css">
    <style>
        .inheader img{
            border-radius: 50%;
        }
        .inheader{
            margin: 50px auto;
            text-align: center;
        }
        .title{
            z-index: 99;
        }
        .footer{
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
        <div class="inheader">
            <img src="{$res['headimgurl']}"/>
        </div>
        <h1 class='title'>欢迎{$res['nickname']}报名潍科驾校</h1>
            <div class="col-80 footer">
                <submit id = "perfect" class="button button-big button-fill button-success">点我报名</submit>
            </div>	
       
</div>
</body>
</html>
<script>
    window.onload = function () {
        var perfect = document.getElementById("perfect");
        perfect.onclick = function(){
            window.location.href="{:U('Wx/Index/exitStudent')}"; 
        }
 }
</script>