<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员授权</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="bootstrap-3.3.7-dist/js/npm.js"></script>
</head>
<body>
<div class="content">
        <div class="head portrait">
            <img src="{$res['headimgurl']}" height="100" width="100"/>
        </div>
        <div class="welcome">
            欢迎{$res['nickname']}报名维科驾校
        </div>
        <div class="button">
            <button type="button" class="btn btn-default btn-lg btn-block">完善信息</button>
        </div>
</div>
</body>
</html>